// mixin
@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

@mixin myPlaceholder{
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}

$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "partials/owl.carousel.scss";
@import "partials/lightbox.scss";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

//variables
$mainFont: tahoma;
$primaryTextColor: #737373;
$secondTextColor: #2C2C2C;

//common styles

body{
  margin: 0;
  font-family: $mainFont;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: $secondTextColor;
  display: block;
  &:hover {
    color: $secondTextColor;
    text-decoration: none;
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

// styles

//Header begin

.main-header {
  height: 155px;
}
.header-logo {
  padding-top: 20px;
  font-size: 55px;
}
.header-tagline {
  font-size: 23px;
  padding-top: 95px;
}
//Header end

//Nav begin

.main-nav {
  background-color: #2C2C2C;
  padding: 10px 0;
  display: block;
  margin-bottom: 30px;
}
.nav-menu__li {
  display: inline-block;
  list-style-type: none;
}
.nav-menu__a {
  color: #fff;
  margin-right: 35px;
  font-size: 22px;
  @include transition(border .6s ease-in-out);
  &:hover {
    color: #fff;
    border-left: 10px solid white;
  }
}
.btn_komar {
  width: 100%;
  font-size: 18px;
  height: 30px;
  padding: 0;
  background-color: #61A1C1;
  color: #fff;
  &:hover {
    background-color: #61A1C1;
    color: #fff;
  }
}

input.form-control {
  @include myPlaceholder {
    font-size: 18px;
  }
}

//Nav end

// main-contenrt begin

.article-pagination__main-content {
  text-align: center;
  padding: 14px 0 14px;
} 

//begin new article
.article {
  padding-bottom: 30px;
  position: relative;
}

.img-wrap__article {
  width: 100%;
  height: 200px;
  overflow: hidden;

}

.img__article {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.link-tag__wrap {
  margin-top: 12px;
  text-align: center;
}

.link-tag__article {
  display: inline-block;
  background-color: #61A1C1;
  color: #fff;
  font-size: 15px;
  padding: 2px 5px;
  margin: 15px 5px 15px;
  &:hover {
    color: #fff;
  }
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}
.title-wrap__article {
  height: 137px;
  overflow: hidden;
}

.title__article {
  font-size: 25px;

  &:hover {
    text-decoration: underline;
  }
  &:focus {
    color: $primaryTextColor;
  }
  
}

.time__article {
  display: inline-block;
  background-color: #61A1C1;
  margin-top: 17px;
  color: #fff;
  padding: 2px 5px;
}



  //end new article
  

//end content

//begin .latest-article-wrap__main-content
.latest-items {
  background-color: #EAEAEA;
  color: #59737C;
  padding: 20px;
}
.items-title__latest-items {
  border-bottom: 1px solid #59737C;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.title__latest-items {
  font-size: 20px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.title__latest-link {
  display: inline-block;
  font-size: 18px;
  width: 90%;
  color: #59737C;
  &:hover {
    text-decoration: underline;
  }
}
.glyphicon {
  &:before {
    top: -16px;
    left: 20px;
    position: absolute;
  }
}
.message-count__latest-items {
  font-size: 18px;
  margin-left: 45px;
}
//end .latest-article-wrap__main-content

//begin footer
.main-footer {
  background-color: #2C2C2C;
}

.main-footer__copyright {
  display: block;
  color: #fff;
  padding-left: 3px;
}
.pagination_komar {
  margin: 0;
}
//end footer

// begin owl-cariusel

.carousel__chapter {
  overflow: hidden;
}
.carousel__img {
  width: 100%;
}


// end owl-carousel

@import "partials/media.scss";
