// media

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px){}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .header-logo {
    padding-top: 15px;
  }
  .header-tagline {
    padding-top: 5px;
  }
  .main-header {
    height: 150px;
  }
  div.owl-carousel{
    display: none;
  }

}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .article {
    &:after {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      clear: both;
    }
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
  }
  .nav-menu__a {
    margin-right: 25px;
  }
  .btn_komar {
    margin-top: 10px;
  }
  .title__article {
    height: auto;
    margin-left: 20px;
  }
  .link-tag__wrap {
    text-align: left;
  }
  .img-wrap__article {
    width: 40%;
    float: left;
  }
  .link-tag__article {
    margin: 0 5px 5px 20px;
  }
  .time__article {
    margin: 10px 0 0 20px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .header-logo {
    font-size: 43px;
    text-align: center;
  }
  .header-tagline {
    font-size: 20px;
  }
  .nav-menu__li {
    display: block;
  }
  .nav-menu {
    margin-bottom: 10px;
  }
  .article {
    border: none;
    padding: 10px;
  }
  .title__article {
    height: auto;
    margin-left: 0;
    font-size: 25px;
  }
  .link-tag__wrap {
    text-align: center;
  }
  .img-wrap__article {
    width: 100%;
    float: none;
  }
  .link-tag__article {
    margin: 0 5px 5px 20px;
  }
  .time__article {
    margin: 10px 0 5px;
  }
  .title__latest-link {
    width: 74%;
    font-size: 17px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){} 